@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #616365;
}

.main_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh auto 10vh;

  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}
.svg {
  height: 3vh;
  margin: 3em 0 3em 3em;
}
.logo_img {
  height: 10vh;
  margin: 1em;
}
.inner_container {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
}
.inner_container form {
  display: grid;
  gap: 30px;
  margin: 4rem;
}
.imagegallery {
  display: none;
}
.mobil_img {
  height: 50vh;
  justify-self: center;
  margin: 20px;
}
.imagegallery_txt {
  margin-left: 3rem;
}
.imagegallery_txt p {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 20px;
}
.imagegallery_txt a {
  color: black;
}

.img_container {
  max-width: 50%;
}
.img_item {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
}
.allaradio {
  row-gap: 20px;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.maincheck {
  row-gap: 30px;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
}
.xtracheck {
  row-gap: 10px;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 40px;
}
.checkoffer {
  margin-top: 30px;
}
.personnummer {
  grid-column: 1;
}
.förnamn {
  grid-column: 1;
}
.efternamn {
  grid-column: 1;
}
.varuhus {
  grid-column: 1;
}
.mobilnummer {
  grid-column: 1;
}
.email {
  grid-column: 1;
}
.lösenord {
  grid-column: 1;
}
.checkB {
  grid-column: 1;
}

.btn {
  padding: 20px;
  border-radius: 100px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: rgba(14, 13, 13, 0.9);
}
footer {
  height: 100px;
  padding-top: 80px;
  font-size: small;
  margin-left: 3rem;
}

@media (min-width: 768px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #616365;
  }
  .inner_container {
    grid-area: main;
    display: grid;
    grid-template-columns: 40% 40%;
  }
  .mobil_img {
    display: none;
  }
  .imagegallery {
    grid-column: 1;
    display: flex;
    max-width: 70%;
    flex-wrap: wrap;
    margin: 3rem;
  }
  .inner_container form {
    display: grid;
    margin: 0;
    gap: 30px;
  }
}
